/* Pon tu código css aqui */
body {
	margin:0;
	padding: 0;
}
.box {
	width: 600px;
    border: 2px solid #CCC;
}
.amarilla {
	height: 100px;
	width: 25%;
	background: #FFFF00;
}
.azul{
	height: 100px;
	width: 25%;
	background: #3A81BA;
}
.rosada{
	height: 100px;
	width: 25%;
	background: #ED2251;
}